In [93]:
import pandas as pd
import matplotlib
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

In [94]:
dts = pd.read_csv('/home/viktor/MPhil/m4benchmarkstudy/Dataset/Train/Yearly-train.csv')
info = pd.read_csv('/home/viktor/MPhil/m4benchmarkstudy/Dataset/M4-info.csv')

In [42]:
dts.tail()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V827,V828,V829,V830,V831,V832,V833,V834,V835,V836
22995,Y22996,470.0,500.0,572.0,572.0,609.0,664.0,795.0,841.0,927.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22996,Y22997,4660.0,4220.0,4790.0,8800.0,10600.0,25720.0,29860.0,23960.0,15220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22997,Y22998,688.8,462.5,472.4,495.1,450.1,385.9,467.0,633.8,699.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22998,Y22999,147.0,379.0,369.0,149.0,118.0,194.0,261.0,411.0,644.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22999,Y23000,6850.0,6860.0,7020.0,7150.0,7240.0,7390.0,7330.0,7520.0,7770.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
info[info['M4id'] == 'Y9940']

       M4id category  Frequency  Horizon      SP    StartingDate
9939  Y9940    Micro          1        6  Yearly  31-12-97 12:00

In [96]:
dts[dts['V1']=='Y9940'].squeeze().dropna()

V1       Y9940
V2      6180.0
V3      6260.0
V4      6310.0
V5      6350.0
         ...
V258    7960.0
V259    8160.0
V260    7550.0
V261    6850.0
V262    7170.0
Name: 9939, Length: 262, dtype: object

In [97]:
dt = datetime.strptime('31-12-97 12:00', '%d-%m-%y %H:%M')
if dt > datetime.now():
    dt -= relativedelta(years=100)
pd.date_range(dt,periods=262,freq='Y')

DatetimeIndex(['1997-12-31 12:00:00', '1998-12-31 12:00:00',
               '1999-12-31 12:00:00', '2000-12-31 12:00:00',
               '2001-12-31 12:00:00', '2002-12-31 12:00:00',
               '2003-12-31 12:00:00', '2004-12-31 12:00:00',
               '2005-12-31 12:00:00', '2006-12-31 12:00:00',
               ...
               '2249-12-31 12:00:00', '2250-12-31 12:00:00',
               '2251-12-31 12:00:00', '2252-12-31 12:00:00',
               '2253-12-31 12:00:00', '2254-12-31 12:00:00',
               '2255-12-31 12:00:00', '2256-12-31 12:00:00',
               '2257-12-31 12:00:00', '2258-12-31 12:00:00'],
              dtype='datetime64[ns]', length=262, freq='A-DEC')